[Desktop Entry]
Name=Mario Kart 8
Comment=Play this game on Steam
Exec="/run/media/octavio/Jogos/Jogos/Emuladores/Ryujinx/Ryujinx" "/run/media/octavio/Jogos/Jogos/Switch/Mario Kart 8.xci"
Icon=mk8
Terminal=false
Type=Application
Categories=Game;
